<div class="st-entity-table" data-root>
  <div class="st-entity-table__toolbar is-empty" data-toolbar>
    <div class="st-entity-table__toolbar-left">
    </div>
    <div class="st-entity-table__toolbar-right">
      <button
        type="button"
        class="st-entity-table__toolbar-btn st-entity-table__toolbar-btn--danger"
        data-action-delete
        aria-label="Delete selected"
      >
        <span class="st-entity-table__toolbar-icon" aria-hidden="true">🗑</span>
      </button>
    </div>
  </div>
  <div class="st-entity-table__table-wrapper">
    <table class="st-entity-table__table" data-table></table>
  </div>
  <div class="st-entity-table__footer" data-footer>
    <button type="button" class="st-entity-table__more-btn" data-action-more>
      Load more
    </button>
  </div>
</div>
