<div class="st-chart-editor" data-root>
  <div class="st-chart-editor__body">
    <div class="st-chart-editor__empty" data-empty>Добавьте первый чарт, чтобы увидеть превью.</div>
    <div class="st-chart-editor__cards" data-cards></div>
  </div>
  <div class="st-chart-editor__form">
    <div class="st-chart-editor__inputs">
      <input class="st-chart-editor__field" type="url" data-input-url placeholder="Image link" />
      <input class="st-chart-editor__field" type="text" data-input-caption placeholder="Caption" />
      <button type="button" class="st-chart-editor__add" data-add>Add</button>
    </div>
    <div class="st-chart-editor__error" data-error></div>
  </div>
</div>
