<div class="ns-root" data-root>
  <div class="ns-list" data-list></div>
  <div class="ns-actions">
    <button class="ns-btn ns-btn--primary" data-create>
      Create
    </button>
    <div class="ns-browse">
      <button class="ns-btn" data-browse-toggle>
        Browse
      </button>
      <div class="ns-popover" data-browse-panel hidden>
        <input class="ns-input" type="text" data-browse-search placeholder="Search…" />
        <div class="ns-browse-list" data-browse-list></div>
      </div>
    </div>
    <button class="ns-btn ns-bulk-action" data-unattach hidden>
      Unattach
    </button>
    <button class="ns-btn ns-btn--danger ns-bulk-action" data-delete hidden>
      Delete
    </button>
  </div>
</div>
